/* Estilos Index.html */

.principal {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.principal h1 {
    margin-top: 50px;
    font-size: 24px;
    color: #333;
}

.principal div {
    margin-top: 20px;
}

.principal button {
    font-size: 16px;
    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s ease;
}

.principal button:hover {
    background-color: #45a049;
}

/* Estilos html de images, documents, audios, videos*/

body.images {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.back-btn {
    display: inline-block;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 15%;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #0056b3;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
}

select {
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

#fileData {
    margin-top: 10px;
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 91% !important;
    cursor: pointer;
    display: block; /* Muestra el input */
    opacity: 0.7; /* Hace el input ligeramente transparente */
}

#fileData:hover {
    background-color: #eef5ff;
    border-color: #007bff;
}

#fileData.active {
    border-color: #007bff;
    background-color: #eef5ff;
}

.file-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.file-info-content {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Esto asegura que el contenido ocupe el espacio disponible */
}

.file-buttons {
    display: flex;
    align-items: center;
}

.file-icon {
    font-size: 24px;
    margin-right: 10px;
}

.file-name {
    font-weight: bold;
    margin-right: 30px;
}

.change-file-btn {
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.change-file-btn:hover {
    background-color: #0056b3;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .principal h1 {
        font-size: 20px;
        margin-top: 30px;
    }

    .principal button, .change-file-btn, button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .container {
        width: 90%;
        max-width: none; /* Elimina el límite máximo de ancho para permitir que el contenedor se expanda */
        padding: 10px;
    }

    .file-info {
        flex-direction: column; /* Cambia la disposición de los elementos a vertical */
        align-items: flex-start; /* Alinea los elementos al inicio */
    }

    .file-info-content, .file-buttons {
        width: 100%; /* Hace que el contenido y los botones ocupen todo el ancho disponible */
    }

    .change-file-btn {
        margin: 5px 0; /* Ajusta los márgenes para un mejor espaciado en disposición vertical */
    }

    #fileData {
        width: 88% !important; /* Asegura que el input ocupe todo el ancho disponible */
    }

    .back-btn, select {
        font-size: 18px; /* Aumenta el tamaño de fuente para mejor legibilidad */
        padding: 12px 18px; /* Aumenta el padding para una mejor área de toque */
    }
}